interface botconf {
  url: string
  token: string
  debug: boolean
  adminqq: Array<number>
  description: string
  gokapiurl: string
  gokapitoken: string
  ircintervalMin :number
  ircintervalMax :number
  nitterurl :string
  maxloghistory :number
  osuclientid :number
  osuclientsecret :string
}

export const config :botconf = {
  url: "",
  token: "",
  debug: false,
  adminqq: [1234567890,0987654321],
  description: "实用化，固定的命令与简单的触发关键字符。",
  gokapiurl: "",
  gokapitoken: "",
  ircusername: "",
  ircpassword: "",
  ircintervalMin: 10,
  ircintervalMax: 3,
  nitterurl: "",
  maxloghistory: 100,
  osuclientid: ,
  osuclientsecret: "",
}