interface botconf {
  url: string
  token: string
  debug: boolean
  description: string
  gokapiurl: string
  gokapitoken: string
}

export const config :botconf = {
  url: "",
  token: "",
  debug: false,
  description: "早期阶段：仅支持简单的关键词匹配和固定回复。",
  gokapiurl: "",
  gokapitoken: "",
  ircusername: "",
  ircpassword: ""
}